body {
  margin: 0;
}

.container {
  padding: 0 2.5%;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.box {
  height: 100px;
  width: 100px;
  margin: 10px;
}

.game-over {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
